.tasks {
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64c4ed;
        cursor: default;
        img {
            transition: 0.3s;
        }
        &:hover {
            img {
                opacity: 0.2;
            }
        }
    }

    img {
        opacity: 0;
        margin-left: 15px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    &__items {
        &-row {
            margin-top: 15px;
            display: flex;
            align-items: center;
            input {
                margin-left: 15px;
                border: 0;
                font-size: 16px;
                width: 100%;
            }

            .checkbox {
                input {
                    display: none;
                    transition: 0.3s;
                }

                svg {
                    transition: 0.3s;
                    path {
                        stroke: #f2f2f2;
                    }
                }

                input:checked + label {
                    background-color: #4dd599;
                    border-color: #4dd599;
                    svg {
                        opacity: 1;
                        path {
                            stroke: #fff;
                        }
                    }
                }

                &:hover {
                    label {
                        background-color: #f2f2f2;
                        border-color: #f2f2f2;
                        svg {
                            opacity: 1;
                            path {
                                stroke: #b3b3b3;
                            }
                        }
                    }
                }
                label {
                    border: 2px solid #e8e8e8;
                    border-radius: 30px;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    svg {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
